/.idea/
/.pytest_cache/
.ipynb_checkpoints/
__pycache__/
*.pyc
/temp/
/.eggs/
/inex.egg-info/
/venv/
/build/
/dist/
/*.so
/.tox/
/path.sh
/exp/
/inex/version.py
/demo/mnist/*/
/demo/onnx/*.onnx
/demo/*/*.log
